body{
    background-color: #C0E0FF ;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #253A82;
    text-align: center;
    padding: 15px;
}

.container{
    display: flex;
   flex-wrap: wrap;

   background-color: #253A82;
    font-family: Arial, Helvetica, sans-serif;

    padding: 10px;
    margin: 0 auto;
    border-radius: 40px;
}

.subcontainer{
    display: flex;
    flex: 1 0 300px;
    justify-content: center;
    align-items: center;

    background-color: #d2e186;
    color: #AB9DFF;
    font-size: 30px;
    
    margin: 10px;
    border-radius: 20px;
}

@media (min-width: 768px){
    .container{
        width: 50%;
        max-width: 450px;
    }
    .subcontainer{
        flex-basis: 50%;
    }
    h1{
        font-size: 80px;
    }

    .creator-popup{
        width: 50%;
        max-width: 450px;
    }

}

.open-button{
    width: 100%;
    background-color: #AB9DFF;
    color: #E3FC87;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.creator-popup {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: absolute;

    z-index: 9;
    border: 10px solid #f2e8df;
    border-radius: 30px;
  }

  .form-container {
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    text-align: center;

    
    background-color: #fcbf93;
    color:#415111;

    border-radius: 20px;
    padding: 50px;
  }

  .form-container input[type=text], .form-container select, .form-container input[type=date] {
    box-sizing: border-box;
    justify-content: space-evenly;
    width: 80%;
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    background: #fefefe;
    box-shadow: none;
    
  }

  .form-container ::placeholder, .form-container select{
    color: #415111;
    font-weight: 200;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }

  .form-container input[type=text]:focus, .form-container input[type=date]:focus, .form-container select:focus {
    background-color:#fb8159;
    outline: none;
  }

  .form-container .btn {
    background-color:#415111;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 70%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: #fb8159;
  }

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

#list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    overflow: scroll;
}

.taskcontainer{
    padding-right: 20px;
    padding-bottom: 15px;
}

li{
    list-style-type: none;
    width: 100%;
    position:relative;
    padding: 0.2em;
    cursor: pointer;
    
}

.accordion {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.accordion .header{
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.accordion .header:hover{
    background-color: #253A82;
    padding: 10px;
}

.accordion .header:after{
    content: '';
  }

  .accordion .header.done::after{
    content: '';
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 1em;
    background-color: #f1f1f1;

    height: 0px;
  }

 .accordion .content{
    display: none;
    overflow: hidden;
 }

 .accordion .content p{
    margin: 0;
 }


 footer{
    color: #ffb2f7;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }