

header{
    color: #353535;
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    text-align: left;

    padding-left: 30px;
    padding: 10px;
    margin: 10px;
    border-width: 10px;
    border-radius: 50px;

}

body{
    color: ghostwhite;
    background-color: white;
    font-family: Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    background-color: #353535;
    padding: 10px 30px 70px;
    margin: 40px auto 20px;
    border-radius: 50px;
}

label{
    display: block;
    font-weight:200;
    padding: 10px;
}

#name, #description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: ghostwhite;
    border-radius: 30px;
    padding-left: 20px;
    height: 40px;
    width: 350px;
    border: none;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: ghostwhite;
    border-radius: 30px;
    padding-left: 10px;
}

button{ 
    border: none;
    outline: none;
    background-color: olive;
    padding: 16px 50px;
    color: ghostwhite;
    font-size: 15px;
    
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    font-size: 18px;
    list-style: none;
    padding: 12px;
    cursor: pointer;
    user-select: none;
}

li.hover {
    text-decoration: line-through;
    cursor: pointer;
}


